http://myip.dev, http://ipv6.myip.dev, http://6.myip.dev https://myip.dev, https://ipv6.myip.dev, https://6.myip.dev {
  reverse_proxy localhost:3000 {
    header_up X-Real-Ip "{remote_host}"
    header_up X-Real-Port "{remote_port}"
    header_up X-Real-Proto "{http.request.proto}"
    header_up X-Tls-Version "{tls_version}"
  }

  @static {
    path *.ico *.css *.js *.gif *.webp *.avif *.jpg *.jpeg *.png *.svg *.woff *.woff2
  }

  header @static ?Cache-Control "public, max-age=604800, immutable"
}
