{{#> layout}}
  {{#*inline "head"}}
    <meta name="description" content="Minimalist IP and network information tool. Get your IPv4, IPv6, geolocation, network & HTTP information, and search other IP addresses.">
    <link rel="canonical" href="https://myip.dev" />

    <title>Information about my IP and network - myip.dev</title>
  {{/inline}}

  {{#*inline "page"}}
    <main class="py-32 flex flex-col gap-32 items-center justify-center min-h-[calc(100vh-96px)]">
      <div class="flex flex-col items-center justify-center gap-4">
        <button id="copy-ip" data-ip="{{ip}}" type="button" class="bg-gradient-to-b from-slate-800 to-slate-900 text-slate-50 text-2xl rounded-md px-7 py-2 shadow-sm shadow-slate-200 hover:to-slate-800 hover:shadow-lg active:to-slate-700 cursor-grab active:cursor-grabbing truncate max-w-[80vw]">{{ip}}</button>
        <span id="copy-ip-text">Click to copy</span>
      </div>
      <div class="grid gap-16 grid-cols-1 lg:grid-cols-3">
        <section class="flex flex-col gap-4">
          <h2 class="text-sm text-slate-500">Network</h2>
          <div class="flex flex-col gap-2">
            <!-- TODO: replace with dl dt dd -->
            <p>
              Reverse:
              <span class="text-slate-800 select-all">
                {{reverse}}
              </span>
            </p>
            <p>
              CIDR:
              <span class="text-slate-800 select-all">
                {{whois.cidr}}
              </span>
            </p>
            <p>
              AS:
              <span class="text-slate-800">
                {{as.org}} (<span class="text-slate-800 select-all">{{as.asn}}</span>)
              </span>
            </p>
            <p>
              Organization:
              <span class="text-slate-800">
                {{whois.org}}
              </span>
            </p>
          </div>
        </section>
        <section class="flex flex-col gap-4">
          <h2 class="text-sm text-slate-500">Geo</h2>
          <div class="flex flex-col gap-2">
            <p>
              City:
              <span class="text-slate-800">
                {{geo.city}}, {{geo.country}}
                <span id="geo-flag" data-country="{{geo.country}}" />
              </span>
            </p>
            <p>
              Location:
              <span class="text-slate-800 select-all">
                {{geo.latitude}}, {{geo.longitude}}
              </span>
            </p>
          </div>
        </section>
        <section class="flex flex-col gap-4">
          <h2 class="text-sm text-slate-500">HTTP</h2>
          <div class="flex flex-col gap-2">
            <p>
              Version:
              <span class="text-slate-800">
                {{http.version}}
              </span>
            </p>
            <p>
              TLS:
              <span class="text-slate-800">
                {{http.tls}}
              </span>
            </p>
            <p>
              User Agent:
              <span class="text-slate-800 truncate max-w-[200px] inline-block align-bottom">
                {{http.user_agent}}
              </span>
            </p>
          </div>
        </section>
        <section class="flex flex-col gap-4">
          <h2 class="text-sm text-slate-500">API</h2>
          <div class="flex flex-col gap-2">
            <p>
              Get all (JSON):
              <span class="text-slate-800 select-all font-mono">
                curl myip.dev
              </span>
            </p>
            <p>
              Get IPv4 (plain text):
              <span class="text-slate-800 select-all font-mono">
                curl myip.dev/raw
              </span>
            </p>
            <p>
              Get IPv6 (plain text):
              <span class="text-slate-800 select-all font-mono">
                curl 6.myip.dev/raw
              </span>
            </p>
          </div>
        </section>
      </div>
      <div class="mx-auto max-w-5xl px-8">
        <div class="flex flex-col items-center gap-4 max-w-lg mx-auto">
          <h1 class="text-slate-800 text-xl">What is my IP address?</h1>
          <p>
            Your IP address is <span class="text-slate-800 select-all">{{ip}}</span>
            {{#if is_ipv4}}
              and is an IPv4 address. That means it follows the Internet Protocol version 4, which is the most common version of the Internet Protocol in use today. Due to the shortage of IPv4 addresses, IPv6 is being deployed to replace it.
              <a href="https://ipv6.myip.dev" class="hover:text-slate-800 underline">Find my IPv6 address</a>
            {{else}}
              and is an IPv6 address. That means it follows the Internet Protocol version 6, which is the most recent version of the Internet Protocol. IPv6 is being deployed to replace IPv4, which is running out of addresses.
              <a href="https://myip.dev" class="hover:text-slate-800 underline">Find my IPv4 address</a>
            {{/if}}
          </p>
        </div>
        <div class="grid gap-16 lg:grid-cols-2 grid-rows-1 mt-32">
          <div class="flex flex-col gap-2">
            <h2 class="text-slate-800 text-lg">What is a Reverse DNS?</h2>
            <p>A reverse DNS is used to find the associated domain for a given IP address - it's the reverse process of a DNS lookup. Not all IPs have a reverse DNS, since it requires a <span class="font-mono">PTR</span> DNS record to be set.</p>
          </div>
          <div class="flex flex-col gap-2">
            <h2 class="text-slate-800 text-lg">What is a CIDR?</h2>
            <p>CIDR stands for Classless Inter-Domain Routing and is a method used to group IP addresses. It's written as <span class="font-mono">IP/number</span>, where <span class="font-mono">number</span> is known as the network mask. It represents the number of leading 1-bits in the subnet mask.</p>
          </div>
          <div class="flex flex-col gap-2">
            <h2 class="text-slate-800 text-lg">What is an AS and ASN?</h2>
            <p>AS stands for Autonomous System, while ASN stands for Autonomous System Number. Each AS is operated by an entity (like an ISP, an individual, schools...) and operates a list of IP subnets. An AS is identified by a number, the ASN.</p>
          </div>
          <div class="flex flex-col gap-2">
            <h2 class="text-slate-800 text-lg">What is the HTTP version?</h2>
            <p>The HTTP protocol has evolved and improved over the years. HTTP/1.1 is battle-tested, but old and inefficient. HTTP/2 reduces latency by using techniques like compression and multiplexing requests over a single TCP connection. HTTP/3 is the latest version and uses QUIC over UDP to further reduce the latency.</p>
          </div>
          <div class="flex flex-col gap-2">
            <h2 class="text-slate-800 text-lg">What is TLS?</h2>
            <p>TLS stands for Transport Security Layer and is the successor of SSL (Socket Security Layer). Those terms are often used interchangeably, but nowadays TLS is largely predominant. It uses cryptography to secure the connection between a client and a server, like for HTTPS. The latest version of TLS is 1.3.</p>
          </div>
          <div class="flex flex-col gap-2">
            <h2 class="text-slate-800 text-lg">What is a User Agent?</h2>
            <p>A User Agent is an HTTP header used to determine and/or identify the type of client that made an HTTP request. For web browsers, it contains the browser name and version, OS name and version, type of device and more. Tools like cURL or crawling engines can also be identified using this header.</p>
          </div>
        </div>
      </div>
    </main>
  {{/inline}}
{{/layout}}
