<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="stylesheet" href="/static/style-42817.css">
  <script src="/static/main-42987.js" defer></script>

  {{> head}}
</head>
<body class="text-slate-500 text-xs text-justify overflow-x-hidden">
  <header class="mx-auto py-4 flex gap-8 justify-center items-center">
    <a id="link-ipv4" href="https://myip.dev" class="hover:text-slate-800 hover:underline">My IPv4</a>
    <a id="link-ipv6" href="https://ipv6.myip.dev" class="hover:text-slate-800 hover:underline">My IPv6</a>
    <a id="link-find" href="/{{ip}}" class="hover:text-slate-800 hover:underline">Search IP</a>
  </header>

  {{> page}}

  <footer class="mx-auto py-4 flex gap-4 justify-center items-center">
    <p>Copyright Tom Lienard & contributors</p>
    <a href="https://github.com/QuiiBz/myip.dev" target="_blank" class="hover:text-slate-800 underline cursor-alias">GitHub</a>
  </footer>
</body>
</html>
